
.footer {
    background-color: #EAEDED;
    padding: 20px 90px;
    font-size: 14px;
}

.container {
    padding: 30px 90px;
}

.footer a:not(:last-child):after {
    color: #879596;
    content: "|";
    padding: 0 5px;
}

dt {
    font-weight: 700;
}

dl {
    margin-bottom: 20px;
}

.hero {
    padding: 50px 90px;
    margin-top: 0;
    background-image: url('./hero.png');
    background-position: 0;
    background-size: cover;
    .title {
        font-weight: 500;
        font-size: 44px;
    }
}

.overview-column{
    .title{
        color: #232f3e;
        font-weight: 500;
        font-size: 18px;
        margin: 15px 0;
    }
}